USE [master]
GO
/****** Object:  Database [bookStore]    Script Date: 12/23/2023 4:24:59 PM ******/
CREATE DATABASE [bookStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bookStore', FILENAME = N'A:\MSSQL\bookStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bookStore_log', FILENAME = N'A:\MSSQL\bookStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bookStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bookStore]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/23/2023 4:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Email] [varchar](100) NOT NULL,
	[AccountId] [varchar](100) NOT NULL,
	[Password] [varchar](500) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [char](10) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Batch]    Script Date: 12/23/2023 4:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batch](
	[BatchId] [int] IDENTITY(1,1) NOT NULL,
	[BatchName] [nvarchar](200) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[Sold] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Describe] [nvarchar](max) NULL,
	[Photo] [varchar](max) NULL,
	[Price] [int] NOT NULL,
	[Discount] [int] NOT NULL,
 CONSTRAINT [PK_batch] PRIMARY KEY CLUSTERED 
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 12/23/2023 4:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[BillId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [varchar](100) NOT NULL,
	[Date] [date] NOT NULL,
	[PaymentId] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[CustomerName] [nvarchar](max) NOT NULL,
	[CustomerEmail] [nvarchar](max) NOT NULL,
	[CustomerAddress] [nvarchar](max) NOT NULL,
	[CustomerPhone] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[BillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 12/23/2023 4:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [varchar](100) NOT NULL,
	[BatchId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/23/2023 4:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment_Methods]    Script Date: 12/23/2023 4:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_Methods](
	[PaymentId] [int] NOT NULL,
	[PaymentName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Payment_Methods] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 12/23/2023 4:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[BatchId] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[BillId] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recovery_Password]    Script Date: 12/23/2023 4:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recovery_Password](
	[Email] [varchar](100) NOT NULL,
	[Code] [char](6) NOT NULL,
 CONSTRAINT [PK_Recovery_Password] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 12/23/2023 4:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Manager] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([Email], [AccountId], [Password], [Name], [Phone], [Address], [RoleId]) VALUES (N'admin@gmail.com', N'admin', N'security', N'Admin', N'0947025004', N'HCM', 1)
INSERT [dbo].[Account] ([Email], [AccountId], [Password], [Name], [Phone], [Address], [RoleId]) VALUES (N'khach@gmail.com', N'khach', N'123456', N'khach', N'0123456789', N'HCM', 2)
INSERT [dbo].[Account] ([Email], [AccountId], [Password], [Name], [Phone], [Address], [RoleId]) VALUES (N'tiennhat12a@gmail.com', N'n20dcat036', N'Baongoc2004', N'tien nhat', N'0778546733', N'97 man thiện', 2)
GO
SET IDENTITY_INSERT [dbo].[Batch] ON 

SET IDENTITY_INSERT [dbo].[Batch] OFF
GO
SET IDENTITY_INSERT [dbo].[Bill] ON 

INSERT [dbo].[Bill] ([BillId], [AccountId], [Date], [PaymentId], [Note], [CustomerName], [CustomerEmail], [CustomerAddress], [CustomerPhone]) VALUES (2, N'khach', CAST(N'2023-10-04' AS Date), 1, N'', N'khach', N'khach@gmail.com', N'HCM', N'0123456789')
INSERT [dbo].[Bill] ([BillId], [AccountId], [Date], [PaymentId], [Note], [CustomerName], [CustomerEmail], [CustomerAddress], [CustomerPhone]) VALUES (3, N'khach', CAST(N'2023-10-04' AS Date), 1, N'', N'khach', N'khach@gmail.com', N'HCM', N'0123456789')
INSERT [dbo].[Bill] ([BillId], [AccountId], [Date], [PaymentId], [Note], [CustomerName], [CustomerEmail], [CustomerAddress], [CustomerPhone]) VALUES (4, N'khach', CAST(N'2023-10-04' AS Date), 1, N'', N'khach', N'khach@gmail.com', N'HCM', N'0123456789')
SET IDENTITY_INSERT [dbo].[Bill] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([CartId], [AccountId], [BatchId], [Amount]) VALUES (36, N'admin', 2, 1)
INSERT [dbo].[Cart] ([CartId], [AccountId], [BatchId], [Amount]) VALUES (41, N'n20dcat036', 24, 1)
INSERT [dbo].[Cart] ([CartId], [AccountId], [BatchId], [Amount]) VALUES (42, N'n20dcat036', 4, 1)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (6, N'Comic')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (5, N'Kiến thức - Khoa học')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (2, N'Manga ')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[Payment_Methods] ([PaymentId], [PaymentName]) VALUES (1, N'Tiền mặt')
INSERT [dbo].[Payment_Methods] ([PaymentId], [PaymentName]) VALUES (2, N'Thẻ ghi nợ nội địa')
INSERT [dbo].[Payment_Methods] ([PaymentId], [PaymentName]) VALUES (3, N'Thẻ ghi nợ quốc tế')
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [BatchId], [Price], [Status], [BillId]) VALUES (1, 2, 40000, 1, NULL)
INSERT [dbo].[Product] ([ProductId], [BatchId], [Price], [Status], [BillId]) VALUES (2, 2, 40000, 1, NULL)
INSERT [dbo].[Product] ([ProductId], [BatchId], [Price], [Status], [BillId]) VALUES (3, 2, 40000, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[Recovery_Password] ([Email], [Code]) VALUES (N'leminhhieu0937659254@gmail.com', N'586522')
INSERT [dbo].[Recovery_Password] ([Email], [Code]) VALUES (N'tiennhat12a@gmail.com', N'713263')
GO
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (1, N'ADMIN')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (2, N'CUSTOMER')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (3, N'GUEST')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Email]    Script Date: 12/23/2023 4:25:00 PM ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [UK_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Phone]    Script Date: 12/23/2023 4:25:00 PM ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [UK_Phone] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Batch]    Script Date: 12/23/2023 4:25:00 PM ******/
ALTER TABLE [dbo].[Batch] ADD  CONSTRAINT [UK_Batch] UNIQUE NONCLUSTERED 
(
	[BatchName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Category]    Script Date: 12/23/2023 4:25:00 PM ******/
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [UK_Category] UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_TaiKhoan_RoleId]  DEFAULT ('3') FOR [RoleId]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Batch]  WITH CHECK ADD  CONSTRAINT [FK_Batch_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Batch] CHECK CONSTRAINT [FK_Batch_Category]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Account]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Payment] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[Payment_Methods] ([PaymentId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Payment]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccountId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Account]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Batch] FOREIGN KEY([BatchId])
REFERENCES [dbo].[Batch] ([BatchId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Batch]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Batch] FOREIGN KEY([BatchId])
REFERENCES [dbo].[Batch] ([BatchId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Batch]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Bill] FOREIGN KEY([BillId])
REFERENCES [dbo].[Bill] ([BillId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Bill]
GO
ALTER TABLE [dbo].[Batch]  WITH CHECK ADD  CONSTRAINT [CK_Batch_Status] CHECK  (([Status]=(1) OR [Status]=(2) OR [Status]=(0)))
GO
ALTER TABLE [dbo].[Batch] CHECK CONSTRAINT [CK_Batch_Status]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_Product_Status] CHECK  (([Status]=(1) OR [Status]=(2) OR [Status]=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_Status]
GO
USE [master]
GO
